<h3 *ngIf="products; else noProduct">{{title}}</h3>
<ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
        Ürün bulunamadı!
    </div>
</ng-template>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="filterText"/>
</div>
<div class="row">
    <div class="col-md-3" *ngFor="let product of products | productFilter:filterText">
        <div class="card" style="margin:8px;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}} - {{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
            </div>
        </div>
    </div>
</div>
