<div class="card border-dark   mb-3" style="max-width: 20rem;margin-top: 16px;">
  <div class="card-header">Kategori Ekle</div>
  <div class="card-body">
    <form [formGroup]="categoryAddForm" (ngSubmit)="add()">
      <div class="form-group">
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
          [(ngModel)]="model.name"
          placeholder="Kategori Adı"
        />
        <div *ngIf="name!.invalid && (name!.dirty || name!.touched)">
          Kategori adı gereklidir
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="categoryAddForm.invalid"
      >
        Ekle
      </button>
    </form>
  </div>
</div>
